/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
main{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
/****** Header ******/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
}
.menu ul{
    display: flex;
    padding: 0px 50px 0px 50px;
    gap: 68px;
    align-items: center;
    margin: 0;
    height: 100%;
    list-style-type: none;
}
.menu li:hover{
    color: #0065FC;
    border-top: solid #0065FC;  
}
.menu li{
    display: flex;
    height: 100%;
    align-items: center;
}

header img{
    height: 19px;
    padding: 30px 50px 30px 0px;
}

/******Section Informations******/
.informations{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.informations .headline{
    display: flex;
    flex-direction: column;
    gap: 8px;
  
}
.headline h1{
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}
.headline h2{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
.informations .searchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 49px;
    width: 377px;
    
    border-radius: 15px 15px 15px 15px;
}
.informations .searchBar i{
    display: flex;
    color: black;
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    height: 49px; 
    width: 50px;
    align-items: center;
    justify-content: center; 
}
.informations .searchBar .formInput{
    display: flex;
    flex-direction: row;
    gap: 0px;
    border: transparent;
}
.searchBar input{
    font-size: 18px;
    font-weight: 700;
    border: transparent;
    padding-left: 25px;
    padding-right: 25px; 
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}
.searchBar input:focus{
    outline: none;
}
.logoSearch{
    display: none;
}

.informations button {
    color: white;
    background-color: #0065FC;
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
    font-weight: 700;
    font-size: 18px;
}
.filters{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    
    font-weight: 700;
}
.filters ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 17px;
    gap: 15px;
    
    
}
.filters li{
    display: flex;
    align-items: center;
    border: solid 2px #D9d9d9;
    border-radius: 30px 30px 30px 30px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    height: 50px;
}
.filters li:hover{
    background-color: #DEEBFF;
}
.filters i{
    color: #0065FC;
}
.filters p{
    margin: 0;
}
.infobar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.infobar i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border-radius: 12px 12px 12px 12px;
    border: solid 1px #D9d9d9;
}
/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hebergements h3{
    font-size: 18px;
    margin: 0;
}
.hebergements h2{
    font-size: 22px;
    margin: 0;
}

.gridHebergement{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.hebergements .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 15px;
    gap: 4px;
}
.hebergements .card img{   
    height: 114px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.hebergements .card .card-txt, .hebergements .card .card-rating{
    padding-left: 5px;
}
.gridHebergement .card-txt{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.gridHebergement .card-txt .card-subtitle{
    margin-top: 0;
    margin-bottom: 8px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/*** Activites***/
.activites{
    display: flex;
    flex-direction: column;
    padding: 30PX;
    gap: 30px;
    
}
.activites img{
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    width: 100%;
}
.liste-activite{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px; 
}
.activites .card-activite{
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;
    height: 100%;
}
.activites h3{
    margin: 0;
}
.activites .card-activite .activite-txt{
    display: flex;
    align-items: center;
    padding: 20px 19px 20px 19px;
}

/***Footer***/
footer{
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
}
footer nav{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
footer ul{
    list-style-type: none;
}
footer h2{
    font-size: 18px;
    font-weight: 700;
}
footer h3{
    font-size: 16px;
    font-weight: 400;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters{
        flex-direction: column;
    }
    .filters p{
        align-self: self-start;
    }
    .filters ul{
        padding: 0;
        align-self: self-start;
        font-size: 16px;
    }
    .menu ol{
        padding-right: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites img{
        height: 200px;
    }
    .card-activite{
        height: 100%;
    }
    .card-activite .card-title{
        align-content: center;
    }
    .gridHebergement img{
        width: 100% !important;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /*main*/
    .main-container{
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 100%;
        padding: 0 0;
    }
    /* header */
    header{
        flex-direction: column;
        margin-bottom: 35px;
    }
    .logo{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    header img{
        display: flex;
        padding: 30px 30px 30px 30px;
        object-fit: cover;
        width: auto;
        justify-self: center;
    }
    .menu ul{
        width: 100%;
        display: flex;
        flex: 1 1 0;
        height: 36px;
        padding: 0;
        gap: 0px !important;
    }
    .menu li{
        justify-content: center;
        width: 100%;
        border-bottom: #D9d9d9 solid 2px;
    }
    .menu li:hover{
        border-bottom: #0065FC solid ;
        border-top: none;
    }
    /*informations*/
    .informations{
        padding: 0 20px 0 20px;
        
    }
    .filters{
        flex-direction: column;
    }
    .formInput{
        width: 100%;
    }
    .liste-filtres{
        display: grid !important;
        width: 100%;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-template-rows: 1fr 1fr;
        gap: 20px 10px!important;
        padding: 0;
        margin: 0;
    }
    .filters p{
        align-self: self-start;
    }
    .liste-filtres li{
        
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    
    
    .liste-filtres i{
        display: flex !important;
        
        width: 22px;
        height: 22px;
        justify-content: center;
        align-items: center;
    }
    .searchBar{
        width: 100% !important;
    }
    .searchBar input{
        width: 100% !important;
    }
    .search{
        display: none;
    }
    .logoSearch {    
         display: flex;
         padding: 0;
    }
    .logoSearch i{
        background-color: #0065FC;
    }
    
    .informations button{
        padding: 0px 0px 0px 0px;
        border-radius: 15px 15px 15px 15px ;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    
    /*hebergements et populaires*/

    .gridHebergement{
        display: flex;
        flex-direction: column;
    }
    .gridHebergement img{
        max-width: none !important;
        width: 100%;
    }
    .hebergements-and-populaires{
        flex-direction: column-reverse;
        padding: 0 ;
    }
    .populaires-cards{
        flex-direction: column;
    }
    .populaires-cards a{
        flex-direction: column;
        width: 100%;
    }
    .populaires-cards .card-title{
        font-size: 16px;
    }
    .populaires-cards .card-subtitle{
        font-size: 14px;
    }
    .populaires{
        margin-top: 0;
    }
    .hebergements{
        background-color: white !important;
    }
    .populaires{
        border-radius: 0 !important;
    }

    
    /*activite*/
    .liste-activite{
        display: flex;
        flex-direction: column;
    }
    .liste-activite img{
        height: 141px;
    }
    
    
    /*footer*/
    footer{
        flex-direction: column;
        width: 100%;
    }
}